@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --bg-color: #EBFFFA;
  --a-color: #3A4750;
  --b-color: #0DCEDA;
  --c-color: #fff;
  --d-color: #3A4750;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: var(--d-color);
  background-color: var(--bg-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container_lg {
  max-width: 1400px;
  padding-inline: 40px;
  margin: 0 auto;
}
.container {
  max-width: 966px;
  padding: 25px 40px;
  background-color: var(--c-color);
}
.header {
  background-color: var(--a-color);
  height: 80px;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav>a {
  color: var(--c-color);
  text-transform: uppercase;

}
.header_nav_logo {
  display: flex;
  position: relative;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  background-color: var(--b-color);
  width: min-content;
  height: 3.7rem;
  padding: 15px;
}
.content {
  display: flex;
  justify-content: space-around
}
.aside {
  background-color: var(--c-color);
  padding: 10px;
  min-width: 23%;
}
.aside_nav {
  margin-top: 45px;
  font-size: 1.4rem;
}
.aside_nav>h3 {
  text-align: center;
  position: relative;

}
.aside_nav>h3::after {
  content: " ";
  background-color: var(--b-color);
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  position: absolute;
}